* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .watch-border {
  width: 310px;
  height: 310px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: aqua;
}
main .watch-border .watch-box {
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  z-index: 3;
  background-color: aliceblue;
  position: relative;
}
main .watch-border .watch-box .watch-timer-box {
  width: 120px;
  height: 30px;
  border: 1px solid black;
  position: absolute;
  top: 70px;
  left: 90px;
}
main .watch-border .watch-box .second-marker {
  width: 1px;
  height: 10px;
  border: 1px solid black;
  position: absolute;
  transform-origin: center bottom;
}
main .watch-border .watch-box .hour-markers {
  border: 2px solid black;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: 147px;
}
main .watch-border .watch-box .arrow-center-cap {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: antiquewhite;
  border-radius: 50%;
  top: 142px;
  left: 145px;
  z-index: 10;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
main .watch-border .watch-box .arrow-center {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 142px;
  left: 145px;
}
main .watch-border .watch-box .second-hand {
  display: block;
  width: 4px;
  height: 115px;
  border: 1px solid black;
  position: absolute;
  bottom: 8px;
  left: 4.5px;
  transform-origin: bottom center;
  border-radius: 5px;
  background-color: aqua;
  z-index: 2;
}
main .watch-border .watch-box .minute-hand {
  display: block;
  width: 4px;
  height: 115px;
  border: 1px solid black;
  position: absolute;
  bottom: 8px;
  left: 4.5px;
  transform-origin: bottom center;
  border-radius: 5px;
  background-color: aqua;
  z-index: 2;
  height: 110px;
}
main .watch-border .watch-box .hours-hand {
  display: block;
  width: 4px;
  height: 115px;
  border: 1px solid black;
  position: absolute;
  bottom: 8px;
  left: 4.5px;
  transform-origin: bottom center;
  border-radius: 5px;
  background-color: aqua;
  z-index: 2;
  height: 85px;
}
main .watch-border .watch-box .date {
  position: absolute;
  width: 20px;
  height: 22px;
  border: 1px solid black;
  top: 140px;
  right: 50px;
  text-align: center;
}